CompileFlags:
  Add:
    - "-I/Users/davide/Documents/src/hadamard_max/min-api/include"
    - "-I/Users/davide/Documents/src/hadamard_max/min-api/max-sdk-base/c74support"
    - "-I/Users/davide/Documents/src/hadamard_max/min-api/max-sdk-base/c74support/max-includes"
    - "-I/Users/davide/Documents/src/hadamard_max/min-api/test"
    - "-std=c++17"